<%= form_for(restaurant) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %>prohibited this restaurant from being saved</h2>
      <ul>
        <% restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Enter Restaurant Details</legend>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_area :address, rows: 10, cols: 60 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
