<!DOCTYPE html>
<html>
  <head>
    <title>The Simplified Go Food Web App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "chartkick" %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>

  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag 'go-food.png', alt: "Simplified Go Food" %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        <div id="cart">
          <% if @cart %>
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart %>
            <% end %>
          <% end %>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">My Orders</a></li>
        </ul>
        <ul>
          <li><a href="/categories">Categories</a></li>
        </ul>
        <% if session[:user_id] %>
          <ul>
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Foods', foods_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Vouchers', vouchers_path %></li>
            <li><%= link_to 'Tags', tags_path %></li>
            <li><%= link_to 'Restaurants', restaurants_path %></li>
            <li> </li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to 'Login', login_path %></li>
          </ul>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
